.col-4 p{
    color:black;
    position: relative;
}
.col-3{
    position: relative;
}
.text{
    height: 200px;
    width: 200px;
    /* background-color: rgba(0, 0,0, 0.5); */
    position: absolute;
}
.card1{
    width: 50%;
}
 .text p{
    color:black;
    display: none;
    height: 180px;
    width: 180px;
    border: 2px solid transparent;
    margin: auto;
}
.design{
    display: none;
}
.development{
    display: none;
}
.product{
    display: none;
}
#contact{
    background-color: transparent;
}
.row1{
    margin-top: 5px;
}

.form-control{
    background-color: transparent;
}
#center{
    align-items: center !important;
}
